{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            HEADER
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Left hand rail
        </div>
        <div class="col-9">
            {{ dump(guzzle_conf) }}
        </div>
    </div>
{% endblock %}
